<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Price Optimization</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap-table.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-editable.css">

    <!-- JS -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="js/bootstrap-table-editable.js"></script>
    <script src="js/bootstrap-editable.js"></script>
    <style>
        div.maindiv {
        padding-left: 15px;
        padding-right: 15px;
    }

    .btn-primary{background-color:#184961;}

    img.resize{
        max-width:99%;
    }

    img.resize2{
        height:25px;
        width:60px;
    }

          body { padding-top: 90px; }
      .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color:grey; }
    </style>
</head>

<body style="font-family: 'Nunito', sans-serif;">

<div class="navbar navbar-default navbar-fixed-top" style="background-color:#184961;">
    <a class="navbar-brand" href="/" style="color:white;">SAS Customer Pricing Optimization</a>
    <form action="/logout/" method="post">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" style="padding-right:10px;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;"><i class="fa fa-user" aria-hidden="true"></i> Logged in as John Smith <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="margin-right:10px;">
                    <li style="padding-left: 45px;"><button type="submit" class="btn btn-default btn-sm navbar-btn">Log out</button></li>
                </ul>
            </li>
            <li style="padding-top:12px;padding-right:27px;"><img class="resize2" src="{{ url_for('static', filename='sas-white.png') }}"></li>
        </ul>
    </form>
</div>


<div class="maindiv">
<h3 style="text-align:center;">Segmentation and Optimization Configuration</h3>
<hr>
    <div class="container" style="width:65%;">

        <h4>Optimization Parameters</h4>
        <div class="panel panel-default">
            <div class="panel-body" style="word-break:normal;">
        <div class="form-group">
            <label>Optimize Objective</label>
            <select style="float:right;clear:both;" name="optObj">
                <option value="profit" selected>Profit</option>
                <option value="revenue">Revenue</option>
            </select>
        </div>

        <div class="form-group">
            <label>Optimization Mode</label>
            <select style="float:right;clear:both;" name="optMode">
                <option value="conservative">Conservative</option>
                <option value="moderate" selected>Moderate</option>
                <option value="agressive">Aggressive</option>
            </select>
        </div>

        <div class="form-group">
            <label>Minumum Exception Floor Value</label>
            <input type="text" class="form-control" name="expFloor">
        </div>

        <div class="form-group">
            <label>Minumum Exception Target Value</label>
            <input type="text" class="form-control" name="expTarget">
        </div>

        <div class="form-group">
            <label>Minumum Exception Start Value</label>
            <input type="text" class="form-control" name="expStart">
        </div>
            </div>
            </div>

            <br><h4>Segmentation Configuration</h4>
        <div class="panel panel-default">
            <div class="panel-body" style="word-break:normal;">
        <div class="form-group">
            <label>History Length (Enter Number of Days)</label>
            <input type="text" class="form-control" name="histLength">
        </div>

        <div class="form-group">
            <label>Maximum Number of Splits</label>
            <input type="text" class="form-control" name="expStart">
        </div>
            </div>
            </div>

            <br><h4>Segmentation Tree Configuration</h4>
        <div class="panel panel-default">
            <div class="panel-body" style="word-break:normal;">
        <div class="form-group">
            <div>

    <table id="table">
        <thead>
            <tr>
                <th data-field="level">Level</th>
                <th data-field="var_list" width="200">Variable List</th>
                <th data-field="min_obs" data-editable="true">Minimum Observations</th>
                <th data-field="min_cust" data-editable="true">Minimum Customers</th>
                <th data-field="min_price" data-editable="true">Minimum Price Points</th>
            </tr>
        </thead>
    </table>
    </div>
        </div>
            </div>
            </div>
							    <button type="button" class="btn btn-primary" id="submitButton" data-toggle="modal" data-target="#myModal" aria-label="Settings">Save Configuration</button>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form action="/customers/" method="post" autocomplete="off">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuration Saved</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
            </form>
        </div>

    </div>
</div>

<script>
var data = [{
    "level": "1",
        "var_list": "Product_hierarchy_1",
        "min_obs": "1",
        "min_cust": "1",
        "min_price": "1"
}, {
    "level": "2",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2",
        "min_obs": "1",
        "min_cust": "1",
        "min_price": "1"
}, {
    "level": "3",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2, ProductCatCode",
        "min_obs": "5",
        "min_cust": "2",
        "min_price": "3"
}, {
    "level": "4",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2, ProductCatCode,Inv_AreaName",
        "min_obs": "5",
        "min_cust": "2",
        "min_price": "3"
}, {
    "level": "5",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2, ProductCatCode,Inv_AreaName,Inv_RegionName",
        "min_obs": "5",
        "min_cust": "3",
        "min_price": "3"
},{
    "level": "6",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2, ProductCatCode,Inv_AreaName,Inv_RegionName, Inv_DistrictName",
        "min_obs": "5",
        "min_cust": "3",
        "min_price": "3"
},{
    "level": "7",
        "var_list": "Product_hierarchy_1, Product_hierarchy_2, ProductCatCode,Inv_AreaName,Inv_RegionName, Inv_DistrictName",
        "min_obs": "5",
        "min_cust": "3",
        "min_price": "3"
}];

    $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });



</script>
</body>
</html>
